
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/rooms">Rooms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pay"></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Email Address" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="email">Subscribe</button>
      </form>
    </div>
  </nav>

  <div class="slideshow">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/suite1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/suite2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/suite3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/suite4.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/suite5.jpg" alt="Fifth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/sea.jpeg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/sea3.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/sea4.jpeg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/sea6.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/seafood.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/seafood-back.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/ext1.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/ext2.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/ext3.jpg" alt="Sixth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/ext4.jpg" alt="Sixth slide">
        </div>
        
        
        
  
      </div>
  
  
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>